# データフレーム

In [1]:
import pandas as pd

[ここ](https://ai-inter1.com/pandas-dataframe_basic/)を参考

## データフレームの作成

In [11]:
# ソースからデータの作成
array = [['A',1,100],\
         ['B',2,100],\
         ['C',3,100],\
         ['D',4,100],\
         ['E',5,100],\
         ['F',6,100],\
         ['G',7,100],\
         ['H',8,100],\
         ['I',9,100],\
         ['J',10,100]]
names = ['name','num1','num2']
df = pd.DataFrame(array,columns=names)
df = df.set_index('name')
df

      num1  num2
name
A        1   100
B        2   100
C        3   100
D        4   100
E        5   100
F        6   100
G        7   100
H        8   100
I        9   100
J       10   100

## データの抽出

<hr>locによる行・列名を指定しての抽出

In [23]:
# 行を抽出
print(type(df.loc["A":"C"]))
df.loc["A":"C"]

<class 'pandas.core.frame.DataFrame'>

      num1  num2
name
A        1   100
B        2   100
C        3   100

In [24]:
# 列を抽出(Series型)
print(type(df.loc[:,"num1"]))
df.loc[:,"num1"]

<class 'pandas.core.series.Series'>

name
A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
Name: num1, dtype: int64

In [28]:
# 行列を抽出
print(type(df.loc["A":"B","num2"]))
df.loc["A":"B","num2"]

<class 'pandas.core.series.Series'>

name
A    100
B    100
Name: num2, dtype: int64